<ul class="issue" layout="column">
	{{vm.eachIssue.content}} by {{vm.eachIssue.authorId}} posted on {{vm.convertDate(vm.eachIssue.timestamp)}}

	<li ng-repeat="comment in vm.eachIssue.comment">
		{{comment.content}} by {{comment.authorId}} posted at {{vm.convertDate(comment.timestamp)}}
	</li>
	<form name="replyCommentForm" flex="100">
    	<md-input-container class="in">
    		<label>Response</label>
			<textarea cols="100" rows="5" md-no-autogrow="true" class="commentInput" ng-model="vm.commentContent"></textarea>
			<!-- <input type="submit" value="Submit"/> -->
    	</md-input-container>
		</form>
		<md-button class="md-raised md-primary" ng-click="vm.postComment()">Submit</md-button>
</ul>